.check-button{
    text-align: center;
    color: chocolate;
    background-color: darkgrey;
}
.total{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: darkslategrey;
}

.checkhere{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: dodgerblue;
}
.heading{
    color: maroon;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.mr-auto{
    font-family: 'Times New Roman', Times, serif;
    color: mediumvioletred;
}
.table{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-radius: 90px;
    border-color:solid black;
    border-width: 50px;
    
}
.th{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    border-color: solid black;
    border-radius: 90px;
   
}
.td{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    border-color: solid black;
    border-radius: 90px;
}
.tr{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    border-color: solid black;
    border-radius: 90px;  
}
.heading{
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    
}